@model Web.Models.FeedbackViewModel
@using BotDetect.Web.Mvc;

@{
    ViewBag.Title = "Liên hệ";
    ViewBag.MetaKeyword = "Lien he";
    ViewBag.MetaDescription = "Thông tin liên hệ từ Shop";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}

<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
<input type="hidden" id="contentView" value="@Model.ContactDetail.Name <br />@Model.ContactDetail.Address<br /> @Model.ContactDetail.Phone" />
<input type="hidden" id="hidLat" value="@Model.ContactDetail.Lat" />
<input type="hidden" id="hidLng" value="@Model.ContactDetail.Lng" />

<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<div class="main">
    <div class="reservation_top">
        <div class="contact_right">
            <h3>Địa điểm</h3>
            <div id="map"></div>
            <h3>Thông tin liên hệ</h3>
            <div class="contact-form">
                <address class="address">
                    <p>@Model.ContactDetail.Name</p>
                    <dl>
                        <dd>Điện thoại:<span> @Model.ContactDetail.Phone</span></dd>
                        <dd>Địa chỉ:<span> @Model.ContactDetail.Address</span></dd>
                        <dd>E-mail:&nbsp; <a href="@Model.ContactDetail.Email">@Model.ContactDetail.Email</a></dd>
                    </dl>
                </address>

                @using (Html.BeginForm("SendFeedBack", "ContactDetail", FormMethod.Post))
                {
                    if (ViewData["SuccessMsg"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            <strong>Chúc mừng bạn! </strong> gửi phản hồi thành công.
                            <br />Chúng tôi sẽ liên hệ lại sớm nhất có thể.
                        </div>
                    }
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.Name, new { @class = "texbox", @placeholder = "Nhập tên" });
                    @Html.TextBoxFor(model => model.Email, new { @class = "texbox", @placeholder = "Địa chỉ email" });
                    @Html.TextAreaFor(model => model.Message, new { @placeholder = "Tin nhắn của bạn" })

                    MvcCaptcha exampleCaptcha = new MvcCaptcha("ContactCaptcha");
                        @Html.Captcha(exampleCaptcha)
                        @Html.TextBox("CaptchaCode")

                        <input type="submit" value="Send">
                        <div class="clearfix"> </div>
                        }
                
            </div>
        </div>
    </div>
</div>

<script src="~/Assets/client/js/controller/contact.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_XxBdItLd0APpuWZKS-xcLC0Wqi7ebYU&callback=initMap">
</script>


